@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

@if (User.IsInRole("Teacher"))
{
    <h3 class="p-2"><i>Teacher</i></h3>

    <div class="bg-info active rounded-lg">

        @*<img src="~/img/LEXICON BG courses.jpg" class="img-fluid"  style="width: 100%" >*@
        <h2 class=" text-white p-3">All Courses</h2>

    </div>
    <div >
        <ul class="text-right ">
            <li class="btn-group float-left">
                <a asp-action="Create" class="btn btn-outline-info " role="button">Add New Course</a>
            </li>
            @*<li class="btn-group">
                <a asp-area="Identity" asp-page="/Account/Register" asp-route-roleName="Student" class="btn btn-secondary active" role="button">Add New Student</a>
        </li>*@
            <li class="btn-group pr-5">
                <a asp-action="ListOfTeachers" class="btn btn-outline-secondary " role="button">List All Teachers</a>
            </li>

        </ul>
    </div>
    <table class="table  table-striped text-md-left table-responsive-sm">
        <thead class="bg-dark text-white ">
            <tr>
                <th class="align-text-top"> Course Name</th>
                <th class="align-text-top"> Course Description </th>
                <th class="align-text-top"> Start Date</th>
                <th class="align-text-top"> </th>
                <th class="align-text-top"> Document</th>
                
                <th>
                    

                        

                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td class="float-right">
                        <a class="btn btn-sm btn-outline-info" asp-action="ListOfCourseStudents" asp-route-CourseName="@item.CourseName" asp-route-id="@item.CourseId">Students</a>
                        <a class="btn btn-sm btn-outline-secondary " asp-action="Details" asp-route-CourseName="@item.CourseName" asp-route-id="@item.CourseId">Details</a>
                        <a class="btn btn-sm btn-info " asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                        <a class="btn btn-sm btn-outline-danger " asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                    </td>
                    <td>
                        @* --- here (a file already exists) ---*@
                        @if (@item.Documents.FirstOrDefault() != null)

                        {
                                <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#DownConfirmationModal" id="Download">
                                    <i class="fa fa-download"></i>
                                </button>
                            @Html.DisplayFor(modelItem => @item.Documents.FirstOrDefault().DocumentName)
                            <br />
                            <form asp-action="DownLoadFile" asp-route-id="@item.Documents.ToList().FirstOrDefault().DocumentId" asp-controller="Document" id="Form1">
                            </form>
                        }
                   

                        else if (@item.Documents.FirstOrDefault() == null)
                        {

                            <form class="form-inline" asp-controller="Document" asp-action="UploadFile" asp-route-id="@item.CourseId" asp-route-Related="Course" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="file" name="file" class="btn btn-secondary active" role="button" />
                                    <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#upConfirmationModal">
                                        <i class="fa fa-upload"></i>
                                    </button>
                                </div>
                            </form>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("submit", "#Form1", function () {
        return confirm("Dowloaded Sucessfully!!!");
    });
</script>



