@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "List of all users";
}

<h1>All Users (Teachers)</h1>

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary btn-lg active" role="button">Add New User (Teacher)</a>
        </li>
    </ul>
</nav>
<br>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        <a class="btn btn-secondary">Students</a>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}