@model IEnumerable<ApplicationUser>
@*@model LexiconLMS.ViewModels.StudentListAndCourseName*@




@{
    ViewData["Title"] = "ListOfCourseStudents";
}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

@*<h1>List of @Html.DisplayFor(m => m.CourseName) Course Students</h1> Jack's method *@



<div class="container">
    <div>
        <h2 class="p-3 mb-2 bg-info text-white rounded-lg">List of @ViewBag.nameCourse course students</h2>
    </div>



    @if (User.IsInRole("Teacher"))
    {
        <div class="text-right">
            @* <a asp-area="Identity" asp-page="/Account/Register" asp-route-roleName="Student" class="btn btn-secondary btn-lg active" role="button">Add New Student</a>*@
            <a asp-area="Identity" asp-page="/Account/Register" asp-route-courseId="@ViewBag.IdCourse" asp-route-coureName="@ViewBag.nameCourse" asp-route-roleName="Student" class="btn btn-secondary " role="button">Add New Student</a>



        </div>
    }



</div>
<br>




@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().SecondUserName)</th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @if(User.IsInRole("Teacher"))
                { 
                <td>
                    @*@if (@item.Documents.FirstOrDefault() != null)*@
                    @if(@item.Documents != null)
                    {
                        @Html.DisplayFor(modelItem => @item.Documents.FirstOrDefault().DocumentName)
                        <br />
                        <form asp-action="DownLoadFile" asp-route-id="@item.Documents.FirstOrDefault().DocumentId" asp-controller="Document" id="Form1">
                            <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#DownConfirmationModal" id="Download">
                                <i class="fa fa-download"></i>

                            </button>

                        </form>


                    }

               
                    
                </td>
                
                    <td class="text-right">



                        <a class="btn btn-outline-secondary" asp-action="EditUser" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>



}
