@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "ListofallTeachers";
}

<h1>All Teachers</h1>

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-area="Identity"  asp-page="/Account/Register" asp-route-RoleName="Teacher" class="btn btn-secondary btn-lg active" role="button">Add New Teacher</a>
        </li>
    </ul>
</nav>
<br>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        
                        <a class="btn btn-outline-secondary" asp-action="EditUser" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}