@model CoursesModulesForStudentsViewModel


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<h2 class="p-3 rounded-lg bg-secondary text-white">List of @ViewBag.courseName course modules</h2>

<a class="m-2 btn btn-outline-info" asp-action="ListOfCourseStudents" asp-route-CourseName="@ViewBag.CourseName" asp-route-id="@ViewBag.CourseId">List All Course Students</a>

<table class="table  table-striped text-md-left table-responsive-sm">
    <thead>

        <tr>

            <th class="lms-modules-container"> Module Name</th>
            <th class="lms-modules-container"> Module Description</th>
            <th class="lms-modules-container">Module Start Date</th>

            <th class="lms-activities-container"> Activity Name</th>
            <th class="lms-activities-container">Activity Description</th>
            <th class="lms-activities-container">Activity Start Date</th>
            <th class="lms-activities-container">Activity End Date</th>
            <th class="lms-activities-container">Activity DocumentName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyModules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleStartDate)
                </td>
                @{ int counter = 0;}
                @foreach (var item2 in item.Activities)
                {
                    @if (counter == 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.EndDate)
                        </td>
                        @if (@item2.Documents.FirstOrDefault() != null)

                        {
                            <td>
                                @Html.DisplayFor(modelItem => item2.Documents.FirstOrDefault().DocumentName)
                                <br />
                                <form asp-action="DownLoadFile" asp-route-id="@item2.Documents.FirstOrDefault().DocumentId" asp-controller="Document" id="Form1">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#DownConfirmationModal" id="Download">
                                        <i class="fa fa-download"></i>

                                    </button>

                                </form>
                            </td>
                        }
                        counter = counter + 1;
                    }
                    else
                    {
                    <tr>
                        @{ string sample = " ";}
                        <td>
                            @Html.DisplayFor(model => sample)
                        </td>
                        <td>
                            @Html.DisplayFor(model => sample)
                        </td>
                        <td>
                            @Html.DisplayFor(model => sample)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.EndDate)
                        </td>
                        @if (@item2.Documents.FirstOrDefault() != null)

                        {
                            <td>
                                @Html.DisplayFor(modelItem => item2.Documents.FirstOrDefault().DocumentName)
                                <br />
                                <form asp-action="DownLoadFile" asp-route-id="@item2.Documents.FirstOrDefault().DocumentId" asp-controller="Document" id="Form1">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#DownConfirmationModal" id="Download">
                                        <i class="fa fa-download"></i>

                                    </button>

                                </form>
                            </td>
                        }

                    </tr>
                }


                }
                </tr>
            }
    </tbody>
</table>
@******@

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("submit", "#Form1", function () {
        return confirm("Dowloaded Sucessfully!!!");
    });
</script>
