@*@model IEnumerable<LexiconLMS.Models.Module>*@
@model CoursesModulesForStudentsViewModel

<td>

    @*<table class=" = " table">*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h2>List of @ViewBag.courseName course modules</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <ul class="text-left align-items-baseline">
                        <li class="btn-group">
                            <a class="btn btn-outline-info" asp-action="ListOfCourseStudents" asp-route-CourseName="@ViewBag.CourseName" asp-route-id="@ViewBag.CourseId">List All Course Students</a>
                        </li>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyModules)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    @*<td class="float-right">
                            <a class="btn btn-outline-secondary " asp-action="Details" asp-route-id="@item.CourseId">Details</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>

</td>

