@model CoursesModulesForStudentsViewModel

<td>

    @*<table class=" = " table">*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h2>List of @ViewBag.courseName course modules</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <ul class="text-left align-items-baseline">
                        <li class="btn-group">
                            <a class="btn btn-outline-info" asp-action="ListOfCourseStudents" asp-route-CourseName="@ViewBag.CourseName" asp-route-id="@ViewBag.CourseId">List All Course Students</a>
                        </li>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityEndtDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyModules)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleStartDate)
                    </td>
                    

                    @foreach (var item2 in item.Activities)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.StartDate)
                        </td>
                    <td>
                            @Html.DisplayFor(modelItem => item2.EndDate)
                        </td>
                        @*<td>
                            <table>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.StartDate)
                                    </td>
                                    <br />
                                </tr>
                            </table>
                        </td>*@

                    }
                </tr>
            }
        </tbody>
    </table>

</td>

