@model IEnumerable<LexiconLMS.Models.ModuleActivity>
@{
    ViewData["Title"] = "ModuleActivity";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<div class="tab-pane container p-0" id="menu1">
    <h5 class="text-uppercase p-2 text-center bg-secondary text-white rounded-lg ">List of Activities</h5>
    <p>
       @* <h3> @Model.FirstOrDefault().Module.Name</h3>*@
       @* <h4>asp-route-ModuleName="@Model.FirstOrDefault().Module.Name"</h4>*@
       
    </p>
    <table class="table  table-responsive-sm bg-white text-dark" >
        <thead style="background-color:indianred"class="text-white">
            <tr>
                <th>
                    Name
                </th>
                <th>
                   Description
                </th>
                <th>
                   Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                   
                </th>
                <th>
                    <a class="btn btn-sm btn-secondary   float-md-right" asp-controller="ModuleActivities" asp-action="Create">Add New Activity</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @item.EndDate)
                    </td>

                    <td>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id" asp-controller="ModuleActivities">Edit</a> 
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id" asp-controller="ModuleActivities">Details</a> 
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-controller="ModuleActivities">Delete</a>
                        <a class="btn btn-sm btn-danger " asp-action="DelDoc" asp-controller="Document" asp-route-id="@item.Id" asp-route-Related="Activity">DelDoc</a>
                    </td>
                    <td>
                        @if (@item.Documents.FirstOrDefault(d => d.Related == "Activity") != null)

                        {
                            @Html.DisplayFor(modelItem => @item.Documents.FirstOrDefault().DocumentName)
                            <form asp-action="DownLoadFile" asp-route-id="@item.Documents.FirstOrDefault().DocumentId" asp-controller="Document" id="Form1">
                            <br />

                                <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#DownConfirmationModal" id="Download">
                                    <i class="fa fa-download"></i>

                                </button>
                            @Html.DisplayFor(modelItem => @item.Documents.FirstOrDefault(d => d.Related == "Activity").DocumentName)
                            <br />
                            <form asp-action="DownLoadFile" asp-route-id="@item.Documents.FirstOrDefault(d => d.Related == "Activity").DocumentId" asp-controller="Document" id="Form1">
                            </form>
                        }

                    
                       else if (@item.Documents.FirstOrDefault(d => d.Related == "Activity") == null)
                        {
                            <form asp-controller="Document" asp-action="UploadFile" asp-route-id="@item.Id" asp-route-Related="Activity" method="post"
                                  enctype="multipart/form-data" style="display: inline-block">

                                <input type="file" name="file" class="btn btn-outline-secondary  active" role="button" />
                                <br>
                            
                                <button type="submit" class="btn  btn-outline-secondary center-block" data-toggle="modal" data-target="#upConfirmationModal">
                                    <i class="fa fa-upload"></i>
                                </button>

                                <input type="file" name="file" class="btn btn-outline-secondary  active" role="button" />
                                <br>
                                <br>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("submit", "#Form1", function () {
        return confirm("Dowloaded Sucessfully!!!");
    });
</script>

