@model IEnumerable<LexiconLMS.Models.Module>
@{
    ViewData["Title"] = "ModuleActivity";
}

    <h1 class="p-md-2 bg-secondary text-white   active rounded-lg">Course @TempData["CourseName"]</h1> 

    <p>
        <a class="btn btn-info" asp-action="Create">Add New Module</a>
            <a class="btn btn-outline-info float-right" asp-controller="Courses" asp-action="Index">Back</a>
    </p>

    @*<div class="tab-content">*@
        @*<div class="tab-pane container active p-0" id="home">*@
            <h5 class="text-uppercase p-2 text-center">List of Modules</h5>

            <table class="table table-bordered table-striped table-responsive-sm">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        @*<th>Course</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => @item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @item.StartDate)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => @item.Course.CourseName)
                            </td>*@
                            <td class="float-right">
                                <a class="btn btn-primary "data-toggle="tooltip" title="Edit module" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                <a class="btn btn-primary "data-toggle="tooltip" title="Module's details" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                <a class="btn btn-primary text-white "data-toggle="tooltip" title="Module's Activity"  id="ActivityButton" name="@item.Id" >Activities</a> 
                                <a class="btn btn-danger "data-toggle="tooltip" title="Delete the module" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

               <div id="ActivityForModule">
         
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
                    $(document).ready(function () {
            $('[id*=ActivityButton]').on('click', function () {
                    $.ajax({
                        // Get  Activity PartialView
                        url: '@Url.Action("ActivityPartialView", "Modules")',
                        type: 'GET',
                        data: { "id": $(this).attr('name') },
                        success: function (response) {
                            $('#ActivityForModule').html(response);
                        },
                        error: function (error) {
                            alert("Error: Please try again.");
                        }
                    });
                });
                });
        </script>


@*</div>
</div>*@
